body {
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:3em
}

.reader {
border:2px solid black;
border-radius:10px;
padding: 10px 27px;
width: 281px;
height: 288px;
z-index:1500;
}

.wordBox {
width: 210px;
height: 52px;
background-image: url(../speed.png);
background-repeat: no-repeat;
padding-top: 5px;
}

.word {
position: relative;
}

#speed {
width: 70px;
}

.control-top {
}
.control-bottom {
margin-bottom:20px;
}

.prevBox, .nextBox {
//border: 1px solid black;
height: 35px;
width: 210px;
margin-top: 2px;
margin-bottom: 2px;
}

.prevWord, .nextWord {
position: relative;
color: #999;
}

.prevWord {
top:-3px;
}
.nextWord {
top:-7px;
}

.context {
height: 225px;
width: 600px;
border: 1px solid black;
border-radius: 5px;
z-index: 500;
position: absolute;
top:102px;
left:100px;
padding:20px;
background: #FFF;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
}

#slider {
height:183px;
float:right;
border: 1px solid black;
}

#slider .ui-slider-handle {
border: 1px solid black;
border-radius: 2px;
background-color: darkgray;
}

.contextContent {
text-align: justify;
width: 530px;
float:left;
overflow: hidden;
height: 195px;
padding-top:75px;
padding-bottom:75px;
}

.contextFocus {
font-size:18px;
color:red;
font-weight:bolder;
}

