.read4speed .reader {
border:2px solid black;
border-radius:10px;
padding: 10px 27px;
width: 285px;
height: 288px;
z-index:1500;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size:2em;
background-color:white;
text-align:left;
font-kerning: auto;
font-size: 32px;
font-style: normal;
font-variant: normal;
font-weight: normal;
}

.read4speed .wordBox {
width: 210px;
height: 52px;
background-image: url(../speed.png);
background-repeat: no-repeat;
padding-top: 5px;
}

.read4speed .word {
position: relative;
}

.read4speed #speed {
width: 70px;
}

.read4speed .control-top {
}
.read4speed .control-bottom {
margin-bottom:20px;
}

.read4speed .prevBox, .read4speed .nextBox {
//border: 1px solid black;
height: 35px;
width: 210px;
margin-top: 2px;
margin-bottom: 2px;
}

.read4speed .prevWord, .read4speed .nextWord {
position: relative;
color: #999;
}

.read4speed .prevWord {
top:-3px;
}
.read4speed .nextWord {
top:-7px;
}

.read4speed .context {
height: 225px;
width: 600px;
border: 1px solid black;
border-radius: 5px;
z-index: 500;
position: absolute;
top:102px;
left:100px;
padding:20px;
background: #FFF;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 1.42857143;
}

.read4speed #slider {
height:183px;
float:right;
border: 1px solid black;
}

.read4speed #slider .ui-slider-handle {
border: 1px solid black;
border-radius: 2px;
background-color: darkgray;
}

.read4speed .contextContent {
text-align: justify;
width: 530px;
float:left;
overflow: hidden;
height: 195px;
padding-top:75px;
padding-bottom:75px;
}

.read4speed .contextFocus {
font-size:18px;
color:red;
font-weight:bolder;
}

.read4speed .hide {
display: none !important;
}
